h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #f907fc;
    font-size: 24px;
}

.game-background {
    background-image: linear-gradient(-45deg, #6c036f 0%, #046c6f 50%, #6c036f 100%);
    background-size: 200%;
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 1;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0%{
        background-position: 0 50%;
    }
    25%{
        background-position: 50% 100%;
    }
    50%{
        background-position: 100% 150%;
    }
    75%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0 50%;
    }
}

.game-name {
    margin-bottom: 80px;
    padding: 20px 0;
    color: white;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    z-index: 9;
}

.game-info {
    width: 1260px;
    padding: 20px;
    position: relative;
    margin-top: 40px;
    z-index: 9;
}

.game-left {
    width: 500px;
    float: left;
}

.game-image {
    width: 100%;
    height: 250px;
}

.game-developers-categories {
    margin-top: 10px;
    padding: 10px 0 0 25px;
    background: #333;
    float: left;
    width: 475px;
}

.game-developers-categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.game-developers-categories ul li {
    margin-bottom: 10px;
}

.game-developers-categories-key {
    display: inline-block;
    color: #059c9f;
    width: 30%;
    padding-right: 10px;
    text-align: right;
}

.game-developers-categories-value {
    display: inline-block;
    color: #ac07af;
    width: 65%;
    flex: 1;
    -webkit-box-flex: 1;
    text-align: left;
}

.game-developers-categories-value .category-search-link{
    color: #f907fc;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #333;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
}

.game-developers-categories-value .category-search-link:hover {
    color: #6c036f;
}

.game-admin-actions {
    width: 100%;
    margin-top: 140px;
    height: 30px;
}

.edit-game-button {
    width: 48%;
    border: 2px solid #05acaf;
    padding: 10px;
    color: #05d6d9;
    outline: none;
    cursor: pointer;
    background: #333;
}

.edit-game-button:hover {
    background: #222;
}

.delete-game-button {
    width: 48%;
    border: 2px solid #ac07af;
    padding: 10px;
    color: #f907fc;
    outline: none;
    cursor: pointer;
    background: #333;
}

.delete-game-button:hover {
    background: #222;
}

.game-right {
    width: 700px;
    float: right;
    padding-bottom: 30px;
}

.game-discount {
    float: left;
    text-align: center;
    padding: 20px 18px 20px 18px;
    width: 120px;
    font-size: 24px;
    color: #f907fc;
    border: 2px solid #ac07af;
}

.game-price {
    padding: 14px;
    font-size: 36px;
    float: left;
    color: #05d6d9;
    font-weight: 600;
}

.game-buy {
    padding: 20px;
    float: right;
    font-size: 24px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    color: #f907fc;
    font-weight: 400;
    border: 2px solid #ac07af;
    cursor: pointer;
    transition: background 1s ease;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
}

.game-buy:hover {
    background: #6c036f;
}

.game-description {
    background: #333;
    margin-top: 150px;
    min-height: 400px;
    padding: 30px 20px;
    color: #05acaf;
    line-height: 30px;
}

.game-comments {
    background: #333;
    margin-top: 30px;
    min-height: 400px;
    padding: 30px 20px;
    color: #05acaf;
}

.comment-form {
    width: 555px;
    margin: 0 auto;
}

.comment-form label {
    font-weight: 600;
}

.comment-textarea {
    width: 517px;
    padding: 8px 16px;
    margin: 8px 0;
    font-size: 14px;
    color: white;
    outline: none;
    border: 3px solid #f907fc;
    resize: vertical;
    min-height: 60px;
    max-height: 160px;
    background: #222;
    transition: border 0.5s;
    -moz-transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -o-transition: border 0.5s;
}

.comment-textarea:focus {
    border: 3px solid #05d6d9;
}

.comment-warning {
    padding: 10px;
    text-align: center;
    border: 3px double #059c9f;
}

.add-comment-button {
    background-color: #05d6d9;
    background-image: linear-gradient(to right, #f907fc 0%, #05d6d9 100%);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background-size: 250% auto;
    height: 40px;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    float: right;
    transition: background-position 0.5s;
    -webkit-transition: background-position 0.5s;
    -moz-transition: background-position 0.5s;
    -o-transition: background-position 0.5s;
}

.add-comment-button:hover {
    background-position: right center;
}

.comment-wrapper {
    margin-top: 70px;
}

.comment {
    width: 550px;
    margin: 0 auto;
    background: #222;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.comment h5 {
    font-size: 18px;
    font-weight: 600;
    color: #f907fc;
    margin: 0;
}

.comment p {
    padding-left: 10px;
}

.comment hr {
    background: #282828;
    border: none;
    height: 2px;
}

.delete-comment-button {
    background: #222;
    color: red;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -3px;
}
