html{
  background-color: #222;
  color: white;
  font-weight: 300;
  font-family: Helvetica, Courier, sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #f907fc 0%, #05d6d9 100%);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #ac07af 0%, #05acaf 100%);
}

.game-background {
  background-image: linear-gradient(-45deg, #6c036f 0%, #046c6f 50%, #6c036f 100%);
  background-size: 200%;
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: 1;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0%{
    background-position: 0 50%;
  }
  25%{
    background-position: 50% 100%;
  }
  50%{
    background-position: 100% 150%;
  }
  75%{
    background-position: 50% 100%;
  }
  100%{
    background-position: 0 50%;
  }
}

.nav-wrapper {
  position: relative;
  background: #333;
  -webkit-box-shadow: 0 0 8px 1px #111111;
  -moz-box-shadow: 0 0 8px 1px #111111;
  box-shadow: 0 0 8px 1px #111111;
  z-index: 10;
}

nav {
  position: relative;
  background-color: #333;
  width: 1300px;
  margin: 0 auto;
  height: 58px;
}

.logo {
  width: 150px;
  height: 50px;
  position: absolute;
}

.nav-links {
  margin: 0 0 0 170px;
  top: 0;
  position: absolute;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-links li {
  float: left;
}

.active {
  background-color: #f907fc;
  background-image: linear-gradient(to right, #f907fc 0%, #05d6d9 100%);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background-size: 250% auto;
  transition: background-position 0.5s, padding 1s;
  -webkit-transition: background-position 0.5s, padding 1s;
  -moz-transition: background-position 0.5s, padding 1s;
  -o-transition: background-position 0.5s, padding 1s;
}
.active:hover {
  background-position: right center;
}

.search-wrapper {
  position: absolute;
  left: 460px;
  padding: 9px 15px;
  background: #1d1d1d;
}

.search-bar {
  padding: 10px;
  color: white;
  width: 300px;
  background-color: #1d1d1d;
  border: 3px solid #f907fc;
  border-right: 0;
  margin-right: 10px;
}

.search-bar:focus {
  outline: none;
}

.search-bar:-webkit-autofill,
.search-bar:-webkit-autofill:hover,
.search-bar:-webkit-autofill:focus,
.search-bar:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #ac07af inset;
  -webkit-text-fill-color: white;
}

.search-button {
  padding: 10px;
  float: right;
  cursor: pointer;
  border: 3px solid #f907fc;
  border-left: 0;
  background-color: #1d1d1d;
  color: white;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.search-button:hover {
  background-color: #ac07af;
}

.search-button:focus {
  outline: none;
}

nav ul li a {
  width: 100px;
  display: block;
  text-align: center;
  color: white;
  padding: 20px 0px;
  text-decoration: none;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

nav ul li a:hover {
  background-color: #111;
}

.login-links {
  float: right;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  right: 0;
  bottom: 0;
  background-color: #333;
}

.login-links li {
  vertical-align: top;
  float: right;
}

main {
  position: relative;
  z-index: 9;
  width: 1300px;
  margin: 0 auto;
}

.slider {
  box-shadow: 0 0 0 8px #333 inset;
  text-align: center;
  width: 100%;
  opacity: 0.5;
  height: 350px;
}

.featured-games {
  background-color: #333;
  width: 100%;
  height: 250px;
}

.featured {
  position: relative;
  overflow: hidden;
  color: #333;
  width: 280px;
  height: 140px;
  margin-top: 25px;
  cursor: pointer;
  background: linear-gradient(217deg, #f907fc, #05d6d9), linear-gradient(127deg, #f907fc, #05d6d9 70.71%), linear-gradient(336deg, #f907fc, #05d6d9 70.71%);
  background-size: 300% 100%;
  animation: featured-gradient 1.5s linear infinite;
  animation-direction: alternate;
}

.featured-child {
  height: 100%;
  width: 100%;
  background-size: contain;
  color: white;
  font-size: 18px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

@keyframes featured-gradient{
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.featured a{
  display: none;
  font-size: 24px;
  color: #f907fc !important;
  font-weight: 600;
  text-align: center;
  padding: 100px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

.featured:hover, .featured:focus {
  box-shadow: 0 0 10px #f907fc, 0 0 7px #05d6d9;
  -webkit-box-shadow: 0 0 10px #f907fc, 0 0 7px #05d6d9;
  -moz-box-shadow: 0 0 10px #f907fc, 0 0 7px #05d6d9;
  -o-box-shadow: 0 0 10px #f907fc, 0 0 7px #05d6d9;
}

.featured:hover .featured-child,
.featured:focus .featured-child{
  transform: scale(0.9);
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.featured:hover .featured-child:before,
.featured:focus .featured-child:before{
  display: block;
}

.featured:hover a,
.featured:focus a{
  display: block;
}

.featured-child::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #111;
  opacity: 0.3;
}

#featured1 {
  float: left;
  margin-left: 15px;
}

#featured2 {
  float: left;
  margin-left: 44px;
}

#featured3 {
  float: right;
  margin-right: 15px;
}

#featured4 {
  float: right;
  margin-right: 44px;
}

footer {
  text-align: center;
  color: #333;
  width: 99.18%;
  border: 8px solid #333;
  height: 400px;
}

.game-preview-wrapper {
  width: 800px;
  float: right;
  box-shadow: 0 0 6px 1px #111;
}

.game-preview-wrapper-index {
  float: none;
  background: #333;
}

.game-preview {
  position: relative;
  padding: 0;
  margin-bottom: 5px;
  background: #222;
  border-bottom: 2px solid #282828;
  font-size: 18px;
  color: #05d6d9;
  width: 100%;
  height: 100px;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
}

.game-preview:hover{
  background: #111;
}

.game-preview-image {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
  background: #212121;
}

.game-preview-name-date {
  display: inline-block;
  float: left;
  width: 55%;
  height: 80px;
  padding: 10px 10px;
}

.game-preview-name {
  color: #f907fc;
  font-size: 24px;
}

.game-preview-categories {
  padding: 5px 0;
}

.game-preview-category {
  color: #059c9f;
  font-size: 14px;
  padding-left: 5px;
}

.game-preview-date {
  color: #057c7f;
  position: absolute;
  bottom: 10px;
  font-size: 8px;
}

.game-preview-price {
  display: inline-block;
  width: 138px;
  padding: 40px 0;
  height: 20px;
  /*border-left: 2px solid #282828;*/
  text-align: center;
  float: left;
}

.game-preview-discount {
  float: right;
  width: 100px;
  box-shadow: 0 0 0 2px #ac07af inset;
  -webkit-box-shadow: 0 0 0 2px #ac07af inset;
  -moz-box-shadow: 0 0 0 2px #ac07af inset;
  -o-box-shadow: 0 0 0 2px #ac07af inset;
  color: #f907fc;
  padding: 30px 0;
  text-align: center;
}

.page-button {
  margin-right: 5px;
  padding: 7px;
  font-size: 12px;
  background-color: #f907fc;
  background-image: linear-gradient(to right, #f907fc 0%, #05d6d9 100%);
  background-size: 250% auto;
  transition: background-position 0.5s;
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  -o-transition: background-position 0.5s;
  text-decoration: none;
  color: white;
}

.page-button:hover {
  background-position: right center;
}

.page-buttons {
  position: absolute;
  bottom: 30px;
  margin-top: 20px;
  width: 100%;
}

.games-catalogue {
  padding: 0 20px 30px 20px;
  position: relative;
  min-height: 920px;
  margin: 0 auto;
  width: 800px;
}