<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
    <title>Task 3</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/slick/slick.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/slick-carousel.js"></script>
</head>
<body>
	<header>
		<div class="nav-wrapper">
			<nav>
				<a style="padding: 0;" href="/">
					<div class="logo" style="background: url('/images/blank1.png') no-repeat;"></div>
				</a>
				<ul class="nav-links">
					<li><a class="active" href="/">Home</a></li>
				</ul>
                <div class="search-wrapper">
                    <form action="/search" method="get">
                        <input class="search-bar" placeholder="Search..." name="search">
                        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                    </form>
                </div>
				<ul class="login-links">
					<li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin/panel">Admin panel</a></li>
					<div sec:authorize="isAnonymous()">
						<li><a href="/login-reg">Login</a></li>
						<li><a href="/login-reg">Register</a></li>
					</div>
				</ul>
			</nav>
		</div>
	</header>
	<div class="game-background"></div>
	<main>
		<div class="slick-carousel">
			<div th:each="game : ${slider_games}" class="slick-item">
				<a th:href="@{'/game-page/' + ${game.ID}}">
					<div class="left" style="overflow: hidden; width: 700px;">
						<img th:src="@{'/images/' + ${game.imagePath}}" alt="Game Image" class="slider-image left">
					</div>
					<div class="slider-description right">
						<h1 class="slider-game-name" th:text="${game.name}"></h1>
						<ul class="slider-game-categories">
							<li th:each="c : ${game.categories}">
								<form method="get" action="/search">
									<input type="hidden" name="search" th:value="${c.name}">
									<button class="slider-category-button" th:text="${c.name}"></button>
								</form>
							</li>
						</ul>
						<div class="slider-game-discount-price">
							<div th:if="${game.discount}" class="slider-game-discount" th:text="${game.formatDiscount()}"></div>
							<div class="slider-game-price right" th:text="${game.calculatePrice()} + '$'"></div>
						</div>
						<div class="slider-game-date" th:text="'Added at ' + ${game.formatAddedDate()}"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="featured-games">
			<h1 style="margin: 0; padding: 0; color: #f907fc; text-align: center;">
				Featured
			</h1>
			<div id="featured1" class="featured">
				<div th:if="${featured1}" class="featured-child" th:style="'background:url(' + @{'/images/' + ${featured1.imagePath}} + '); background-size: 280px 140px;'">
					<a th:href="@{'/game-page/' + ${featured1.ID}}" th:text="${featured1.name}">

					</a>
				</div>
			</div>
			<div id="featured2" class="featured">
                <div th:if="${featured2}" class="featured-child" th:style="'background:url(' + @{'/images/' + ${featured2.imagePath}} + '); background-size: 280px 140px;'">
					<a th:href="@{'/game-page/' + ${featured2.ID}}" th:text="${featured2.name}">

                    </a>
                </div>
            </div>
			<div id="featured3" class="featured">
                <div th:if="${featured3}" class="featured-child" th:style="'background:url(' + @{'/images/' + ${featured3.imagePath}} + '); background-size: 280px 140px;'">
					<a th:href="@{'/game-page/' + ${featured3.ID}}" th:text="${featured3.name}">

                    </a>
                </div>
            </div>
			<div id="featured4" class="featured">
                <div th:if="${featured4}" class="featured-child" th:style="'background:url(' + @{'/images/' + ${featured4.imagePath}} + '); background-size: 280px 140px;'">
					<a th:href="@{'/game-page/' + ${featured4.ID}}" th:text="${featured4.name}">

                    </a>
                </div>
            </div>
		</div>
		<div class="games-catalogue">
            <h1 style="color: #f907fc; text-align: center">Catalogue</h1>
            <div class="game-preview-wrapper game-preview-wrapper-index">
                <div th:each="game : ${games}">
                    <a class="game-link" th:href="@{'/game-page/' + ${game.ID}}">
                        <div class="game-preview">
                            <img alt="Game Image" th:src="@{'/images/' + ${game.imagePath}}" class="game-preview-image">
                            <div class="game-preview-name-date">
								<div class="game-preview-discount" th:unless="${game.formatDiscount() == '0'}" th:text=${game.formatDiscount()}></div>
                                <div class="game-preview-name" th:text="${game.name}"></div>
                                <div class="game-preview-categories">
                                    <span class="game-preview-category" th:text="${game.getCategoriesNames()}"></span>
                                </div>
                                <div class="game-preview-date" th:text="'Added at ' + ${game.formatAddedDate()}"></div>
                            </div>
                            <div class="game-preview-price" th:text="${game.calculatePrice()} + '$'"></div>
                        </div>
                    </a>
                </div>
                <div class="page-buttons" style="bottom: 60px;">
                    <a class="page-button" th:each = "i : ${#numbers.sequence(1, tabSize)}" th:text = "${i}" th:href = "@{'/?page=' + ${i}}"></a>
                </div>
            </div>
		</div>
	</main>
	<footer>
		<h1>Podval</h1>
		Nothing here yet :)
	</footer>
</body>
</html>