<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Task 3</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/search-page.css">
</head>
<body>
    <header>
        <div class="nav-wrapper">
            <nav>
                <a style="padding: 0;" href="/">
                    <div class="logo" style="background: url('/images/blank1.png') no-repeat;"></div>
                </a>
                <ul class="nav-links">
                    <li><a class="active" href="/">Home</a></li>
                </ul>
                <ul class="login-links">
                    <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin/panel">Admin panel</a></li>
                    <div sec:authorize="isAnonymous()">
                        <li><a href="/login-reg">Login</a></li>
                        <li><a href="/login-reg">Register</a></li>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <div class="game-background"></div>
    <main>
        <div class="search-wrapper">
            <form action="/search" method="get">
                <input class="search-bar" placeholder="Search..." name="search">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div th:if="${search_error}" th:text="${search_error}" class="search-error"></div>
        <div th:if="${games}" class="games-catalogue">
            <div class="game-preview-wrapper game-preview-wrapper-index">
                <div th:each="game : ${games}">
                    <a class="game-link" th:href="@{'/game-page/' + ${game.ID}}">
                        <div class="game-preview">
                            <img alt="Game Image" th:src="@{'/images/' + ${game.imagePath}}" class="game-preview-image">
                            <div class="game-preview-name-date">
                                <div class="game-preview-discount" th:unless="${game.formatDiscount() == '0'}" th:text=${game.formatDiscount()}></div>
                                <div class="game-preview-name" th:text="${game.name}"></div>
                                <div class="game-preview-categories">
                                    <span class="game-preview-category" th:text="${game.getCategoriesNames()}"></span>
                                </div>
                                <div class="game-preview-date" th:text="'Added at ' + ${game.formatAddedDate()}"></div>
                            </div>
                            <div class="game-preview-price" th:text="${game.calculatePrice()} + '$'"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>